Repository 2025-1-alpha/fe_geulowup, pull requests merged in 2025-05, with the labels that each got.

#33 [Feat/#27] 찾아보기 페이지 퍼블리싱
  next.config.ts
  package.json
  src/app/(layout)/explore/page.tsx
  src/app/(layout)/test/page.tsx
  src/app/globals.css
  src/assets/icons/icon-arrow-left.svg
  src/assets/icons/icon-arrow-right.svg
  src/assets/icons/icon-arrow-up-down.svg
  src/assets/icons/icon-ic-1-gre-clicked.svg
  src/assets/icons/icon-ic-1-gre-default.svg
  src/assets/icons/icon-ic-10-lik-clicked.svg
  src/assets/icons/icon-ic-10-lik-default.svg
  src/assets/icons/icon-ic-11-cus-clicked.svg
  src/assets/icons/icon-ic-11-cus-default.svg
  src/assets/icons/icon-ic-12-pro-clicked.svg
  src/assets/icons/icon-ic-12-pro-default.svg
  src/assets/icons/icon-ic-13-gro-clicked.svg
  src/assets/icons/icon-ic-13-gro-default.svg
  src/assets/icons/icon-ic-14-com-clicked.svg
  src/assets/icons/icon-ic-14-com-default.svg
  src/assets/icons/icon-ic-15-app-clicked.svg
  src/assets/icons/icon-ic-15-app-default.svg
  src/assets/icons/icon-ic-16-etc-clicked.svg
  src/assets/icons/icon-ic-16-etc-default.svg
  src/assets/icons/icon-ic-2-sel-clicked.svg
  src/assets/icons/icon-ic-2-sel-default.svg
  src/assets/icons/icon-ic-3-sor-clicked.svg
  src/assets/icons/icon-ic-3-sor-default.svg
  src/assets/icons/icon-ic-4-fav-clicked.svg
  src/assets/icons/icon-ic-4-fav-default.svg
  src/assets/icons/icon-ic-5-tha-clicked.svg
  src/assets/icons/icon-ic-5-tha-default.svg
  src/assets/icons/icon-ic-6-sug-clicked.svg
  src/assets/icons/icon-ic-6-sug-default.svg
  src/assets/icons/icon-ic-7-ann-clicked.svg
  src/assets/icons/icon-ic-7-ann-default.svg
  src/assets/icons/icon-ic-8-int-clicked.svg
  src/assets/icons/icon-ic-8-int-default.svg
  src/assets/icons/icon-ic-9-rev-clicked.svg
  src/assets/icons/icon-ic-9-rev-default.svg
  src/assets/icons/icon-lucide-wand.svg
  src/assets/icons/icon-magnify.svg
  src/assets/icons/icon-tag-searchbar-popup.svg
  src/components/ui/Arrow/index.tsx
  src/components/ui/Card/index.tsx
  src/components/ui/TagSearchBar/index.tsx
  src/components/ui/TagSearchButton/index.tsx
  src/components/ui/TemplateModal/index.tsx
  src/types/index.ts
  tailwind.config.js
  yarn.lock
Labels: :sparkles: FEAT, :rocket: API

#35 [Feat/#34] API 기본 세팅
  next.config.ts
  package.json
  src/app/(layout)/test/page.tsx
  src/app/layout.tsx
  src/hooks/.gitkeep
  src/hooks/template/index.ts
  src/hooks/template/useCreateTemplate.ts
  src/hooks/template/useTemplateDetail.ts
  src/hooks/useReactQuery.tsx
  src/services/.gitkeep
  src/services/template/getTemplateDetail.ts
  src/services/template/postCreateTemplate.ts
  src/utils/.gitkeep
  src/utils/customFetch.ts
  yarn.lock
Labels: :sparkles: FEAT, :rocket: API

#37 [Feat/#31] ViewModal 추가
  src/app/(layout)/advice/_components/AdviceEditor/index.tsx
  src/app/(layout)/test/page.tsx
  src/app/layout.tsx
  src/assets/icons/icon-close.svg
  src/assets/icons/icon-glow-score.svg
  src/assets/icons/icon-like.svg
  src/components/ui/Modal/ModalContainer.tsx
  src/components/ui/Modal/ViewModal/index.tsx
  src/stores/useModalStore.ts
  src/stores/useTemplateStore.ts
Labels: :sparkles: FEAT

#39 [Feat/#36] 찾아보기 페이지 getTemplates & getTemplatesRecommendation 연결
  src/app/(layout)/explore/page.tsx
  src/components/ui/Card/index.tsx
  src/hooks/template/useTemplates.ts
  src/hooks/template/useTemplatesRecommendation.ts
  src/services/template/getTemplates.ts
  src/services/template/getTemplatesRecommendation.ts
Labels: :sparkles: FEAT, :rocket: API

#40 [Feat/#38] EditModal 퍼블리싱
  src/app/(layout)/test/page.tsx
  src/components/ui/Modal/EditModal/index.tsx
  src/components/ui/Modal/ModalContainer.tsx
  src/stores/useModalStore.ts
Labels: :sparkles: FEAT

#42 [Feat/#41] ViewModal, EditModal API 연결
  src/app/(layout)/advice/_components/AdviceResultBox/index.tsx
  src/app/(layout)/explore/page.tsx
  src/app/(layout)/test/page.tsx
  src/components/ui/Modal/EditModal/index.tsx
  src/components/ui/Modal/ViewModal/index.tsx
  src/hooks/template/useCreateTemplate.ts
  src/services/template/getTemplateDetail.ts
  src/services/template/postCreateTemplate.ts
  src/types/index.ts
  src/utils/customFetch.ts
Labels: :sparkles: FEAT, :rocket: API

#44 [Feat/#43] 템플릿 수정 API 연결
  src/components/ui/Modal/EditModal/index.tsx
  src/components/ui/Modal/ModalContainer.tsx
  src/components/ui/Modal/ViewModal/index.tsx
  src/hooks/template/index.ts
  src/hooks/template/useCreateTemplate.ts
  src/hooks/template/useEditTemplate.ts
  src/services/template/postCreateTemplate.ts
  src/services/template/putEditTemplate.ts
  src/stores/useModalStore.ts
  src/types/templateRequest.ts
Labels: :sparkles: FEAT, :rocket: API

#48 [Refactor/#47] localStorage를 Zustand로 대체
  src/app/(layout)/explore/page.tsx
  src/components/ui/Card/index.tsx
  src/components/ui/TagSearchButton/index.tsx
  src/stores/useAuthStore.ts
  src/stores/useCardStore.ts
  src/utils/cookieUtils.ts
  src/utils/customFetch.ts
Labels: :sparkles: FEAT, :recycle: REFACTOR

#53 [Refactor/#47] 쿠키 관련 커밋 롤백
  src/app/(layout)/explore/page.tsx
  src/components/ui/Card/index.tsx
  src/components/ui/TagSearchButton/index.tsx
  src/stores/useAuthStore.ts
  src/stores/useCardStore.ts
  src/utils/cookieUtils.ts
  src/utils/customFetch.ts
Labels: :sparkles: FEAT, :recycle: REFACTOR

#58 [Feat/#55] AI 자동 빈칸 만들기 API 연결
  src/components/ui/Modal/EditModal/index.tsx
  src/hooks/models/usePostPlaceholders.ts
  src/services/models/postAdvice.ts
  src/services/models/postPlaceholder.ts
  src/types/placeholder.ts
Labels: :sparkles: FEAT, :rocket: API

#60 [Feat/#57] 마이페이지 퍼블리싱/컴포넌트 구현
  src/app/(layout)/mypage/_components/MypageCancelAccount.tsx
  src/app/(layout)/mypage/_components/MypageData.tsx
  src/app/(layout)/mypage/_components/MypageGlow.tsx
  src/app/(layout)/mypage/page.tsx
  src/assets/icons/icon-edit.svg
  src/assets/icons/icon-glow-score-big.svg
Labels: :sparkles: FEAT

#64 [Feat/#63] 토스트 메시지 공통 컴포넌트
  src/components/ui/Toast/index.tsx
Labels: :sparkles: FEAT

#67 [Refactor/#61] 공유 기능 제거
  src/app/(layout)/advice/_components/AdviceResultBox/index.tsx
  src/assets/icons/icon-eraser.svg
  src/assets/icons/icon-trash.svg
  src/components/ui/Modal/ViewModal/index.tsx
Labels: :recycle: REFACTOR

#56 [Feat/#29] 보관함 페이지 퍼블리싱
  src/app/(layout)/archive/_components/ArchiveCardGrid/index.tsx
  src/app/(layout)/archive/_components/ArchiveContent/index.tsx
  src/app/(layout)/archive/_components/ArchiveFolderInput/index.tsx
  src/app/(layout)/archive/_components/ArchiveFolderStatus/index.tsx
  src/app/(layout)/archive/_components/ArchiveModalWarning/index.tsx
  src/app/(layout)/archive/_components/ArchiveSidebar/index.tsx
  src/app/(layout)/archive/page.tsx
  src/assets/icons/icon-check.svg
  src/assets/icons/icon-remove.svg
  src/assets/icons/icon-trash-big.svg
  src/assets/icons/icon-trash.svg
Labels: :sparkles: FEAT, :rocket: API

#32 [Feat/#28] 태그 탐색 바 구현(공통 컴포넌트)
  src/components/ui/TagSearchBar/index.tsx
  src/components/ui/TagSearchPopup/index.tsx
  src/hooks/template/index.ts
  src/hooks/template/useEditTemplate.ts
  src/services/template/postCreateTemplate.ts
  src/services/template/putEditTemplate.ts
  src/stores/useModalStore.ts
  src/types/templateRequest.ts
Labels: :sparkles: FEAT

#71 [Bug/#70] 카드 컴포넌트 클릭 유지되는 이슈 수정
  src/app/(layout)/explore/page.tsx
Labels: :sparkles: FEAT, :bug: BUG

#73 [Feat/#72] 루트 페이지 조언받기로 연결
  src/app/page.tsx
Labels: :sparkles: FEAT

#74 [Feat/#65] 맞춤법 검사 API 연결
  src/app/(layout)/advice/_components/AdviceEditor/index.tsx
  src/app/(layout)/test/page.tsx
  src/components/ui/Toggle/index.tsx
  src/hooks/models/usePostSpellCheck.ts
  src/services/models/postSpellCheck.ts
  src/types/spellCheckRequest.ts
Labels: :sparkles: FEAT, :rocket: API

#77 Feat/#68/archive api
  src/app/(layout)/archive/_components/ArchiveCardGrid/index.tsx
  src/app/(layout)/archive/_components/ArchiveSidebar/index.tsx
  src/app/(layout)/archive/page.tsx
  src/app/(layout)/explore/page.tsx
  src/app/(layout)/mypage/_components/MypageData.tsx
  src/app/(layout)/mypage/page.tsx
  src/hooks/folder/useCreateFolder.ts
  src/hooks/folder/useDeleteFolder.ts
  src/hooks/folder/useFolderDetail.ts
  src/hooks/folder/useFolders.ts
  src/hooks/template/useRecentlyUsedTemplates.ts
  src/services/folders/createFolder.ts
  src/services/folders/deleteFolder.ts
  src/services/folders/getFolderDetail.ts
  src/services/template/getRecentlyUsedTemplates.ts
Labels: :sparkles: FEAT, :rocket: API

#80 [Feat/#65] 프로필 모달 생성
  src/app/(layout)/advice/_components/AdviceInputArea/index.tsx
  src/app/(layout)/advice/_components/RecommendTemplates/index.tsx
  src/app/(layout)/explore/page.tsx
  src/components/ui/Modal/EditModal/index.tsx
  src/components/ui/Modal/ModalContainer.tsx
  src/components/ui/Modal/ProfileModal/index.tsx
  src/components/ui/Modal/UsingModal/index.tsx
  src/components/ui/Modal/ViewModal/index.tsx
  src/hooks/template/useCreateTemplate.ts
  src/hooks/template/useEditTemplate.ts
  src/hooks/template/useTemplateAuthor.ts
  src/services/template/getTemplateAuthor.ts
  src/services/template/postCreateTemplate.ts
  src/services/template/putEditTemplate.ts
  src/styles/scrollbar.css
  src/types/templateRequest.ts
Labels: :sparkles: FEAT, :rocket: API

#85 [Feat/#83] 로그인 유무 분기 처리
  src/app/(layout)/advice/_components/AdviceEditor/index.tsx
  src/app/(layout)/advice/_components/RecommendTemplates/index.tsx
  src/assets/icons/image-login.svg
  src/components/ui/Header/index.tsx
  src/components/ui/Modal/LoginModal/index.tsx
  src/components/ui/Modal/ModalContainer.tsx
  src/components/ui/Modal/ViewModal/index.tsx
  src/hooks/template/useTemplateLikes.ts
  src/hooks/useAuth.tsx
  src/stores/useLoginModal.ts
  src/utils/checkAuth.ts
Labels: :sparkles: FEAT

#87 [Feat/#86] View 모달 추가 API 연결
  src/app/(layout)/advice/_components/AdviceResultBox/index.tsx
  src/components/ui/Modal/ViewModal/index.tsx
  src/hooks/template/useTemplateDeletes.ts
  src/hooks/template/useTemplateLikes.ts
  src/hooks/template/useTemplateUse.ts
  src/services/template/deleteTemplate.ts
  src/services/template/getTemplateDetail.ts
  src/services/template/postTemplateLike.ts
  src/services/template/postTemplateUse.ts
Labels: :sparkles: FEAT, :rocket: API

#89 [Design/#88] 회원가입 페이지 아이콘 수정
  src/app/(auth)/@content/sign-up/step3/page.tsx
  src/assets/icons/icon-login1.svg
  src/assets/icons/icon-login10.svg
  src/assets/icons/icon-login11.svg
  src/assets/icons/icon-login12.svg
  src/assets/icons/icon-login13.svg
  src/assets/icons/icon-login14.svg
  src/assets/icons/icon-login15.svg
  src/assets/icons/icon-login16.svg
  src/assets/icons/icon-login2.svg
  src/assets/icons/icon-login3.svg
  src/assets/icons/icon-login4.svg
  src/assets/icons/icon-login5.svg
  src/assets/icons/icon-login6.svg
  src/assets/icons/icon-login7.svg
  src/assets/icons/icon-login8.svg
  src/assets/icons/icon-login9.svg
Labels: :lipstick: DESIGN

#91 [Bug/#90] small 카드 hover 시 전체 텍스트 보이도록 수정
  src/components/ui/Card/index.tsx
Labels: :sparkles: FEAT, :bug: BUG
