Repository 2025-1-alpha/fe_geulowup, pull requests merged in 2025-04, with the labels that each got.

#4 [Init/#3] 폴더구조 세팅
  src/app/(layout)/layout.tsx
  src/app/(layout)/test/_components/.gitkeep
  src/app/(layout)/test/page.tsx
  src/app/(noLayout)/.gitkeep
  src/app/test.tsx
  src/components/form/.gitkeep
  src/components/ui/.gitkeep
  src/constants/.gitkeep
  src/hooks/.gitkeep
  src/services/.gitkeep
  src/stores/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
Labels: :wrench: INIT

#6 [Init/#5] 색상 및 폰트 세팅
  package.json
  postcss.config.js
  src/app/(layout)/layout.tsx
  src/app/(layout)/test/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  tsconfig.json
  yarn.lock
Labels: :wrench: INIT

#8 [Init/#7] ESlint + husky 세팅
  .eslintrc.json
  .husky/pre-commit
  .prettierrc
  bash.exe.stackdump
  eslint.config.mjs
  next.config.ts
  package.json
  yarn.lock
Labels: :wrench: INIT

#10 [Init/#9] 디자인 시스템에 맞춰 폰트 커스텀 세팅
  src/app/(layout)/test/page.tsx
  src/app/globals.css
Labels: :wrench: INIT

#12 [Feat/#11] 버튼 공통 컴포넌트 추가
  next.config.ts
  package.json
  src/app/(layout)/test/page.tsx
  src/app/layout.tsx
  src/assets/icons/icon-arrow-down.svg
  src/assets/icons/icon-plus.svg
  src/components/ui/.gitkeep
  src/components/ui/Button/index.tsx
  tailwind.config.js
  yarn.lock
Labels: :sparkles: FEAT

#15 [Feat/#13] 헤더 및 푸터 레이아웃
  src/app/(layout)/advice/page.tsx
  src/app/(layout)/archive/page.tsx
  src/app/(layout)/explore/page.tsx
  src/app/(layout)/layout.tsx
  src/app/layout.tsx
  src/assets/logo.svg
  src/components/ui/Footer/index.tsx
  src/components/ui/Header/index.tsx
  src/lib/utils.ts
Labels: :sparkles: FEAT

#22 [Design/#21] 레이아웃 margin 추가
  src/app/(layout)/advice/page.tsx
  src/components/ui/Footer/index.tsx
  src/components/ui/Header/index.tsx
Labels: :lipstick: DESIGN

#16 [Feat/#14] 인풋 태그 컴포넌트 추가
  src/app/(layout)/test/page.tsx
  src/assets/icons/icon-input-tag-alert.svg
  src/assets/icons/icon-input-tag-remove.svg
  src/components/ui/InputTag/index.tsx
Labels: :sparkles: FEAT

#20 [Feat/#19] 토글 공통 컴포넌트 개발
  src/app/(layout)/test/page.tsx
  src/components/ui/Toggle/index.tsx
Labels: :sparkles: FEAT

#24 [Feat/#17] 카드 컴포넌트 추가
  src/app/(layout)/test/page.tsx
  src/assets/icons/icon-thumbs-up.svg
  src/components/ui/Card/index.tsx
  src/components/ui/CardLike/index.tsx
  src/components/ui/CardTag/index.tsx
Labels: :sparkles: FEAT

#23 [Feat/#14] input_tag_add(태그 추가 버튼) 컴포넌트 추가
  src/app/(layout)/test/page.tsx
  src/assets/icons/icon-add.svg
  src/components/ui/InputTag/index.tsx
  src/components/ui/InputTagAdd/index.tsx
Labels: :sparkles: FEAT
